{% extends "base.html" %}

{% block content%}

      <div align="justify">
        <p> <strong> Добро пожаловать на наш сайт! </strong> </p>
        <p> Мы поддерживаем идею буккроссинга и решили создать пространство (немного изменив формат), где вы сможете обменять книги, которые вам уже не нужны или не интересны. </p>
        <p> Что же такое буккроcсинг?</p>
        <p> <strong> Буккроссинг </strong> (англ. BookCrossing) или книговорот — хобби и общественное движение, действующее по принципу социальных сетей и близкое к флешмобу. Человек, прочитав книгу, оставляет («освобождает») её в общественном месте (парк, кафе, поезд, библиотека, станция метро), для того, чтобы другой, случайный человек мог эту книгу найти и прочитать; тот, в свою очередь, должен повторить это же действие.</p>
        <p> Мы решили немного видоизменить этот процесс. На нашем сайте вы сможете обменяться книгами с другими пользователями, то есть ваша книга гарантированно обретёт нового хозяина, а взамен вы получите новую.  </p>
        <p> Обращаем ваше внимание на то, что территориально мы располагаемся в городе <strong>Зеленоград</strong> и большинство пользователей будут иметь возможность очно обменяться только здесь. Если же вы из другого города, вы также можете принять участие в обмене, но только дистационно, например, через почту. </p>
        <p> Чтобы поучаствовать в обмене книгами вам необходимо выполнить всего одно простое действие - <a href="{% url 'registration' %}">зарегистрироваться</a>. Обращаем ваше внимание, что необходимо указывать актуальную информацию о себе, чтобы остальные пользователи могли связаться с вами. После прохождения регистрации вы сможете размещать свои собственные объявления и просматривать объявления других пользователей. </p>

      </div>

{% endblock content %}