{% extends "base_person.html" %}
{% load static %}

{% block Surname%}{{ person.surname }}{% endblock Surname %}
{% block Name%}{{ person.name }}{% endblock Name %}
{% block Phone%}{{ person.phone }}{% endblock Phone %}
{% block Town%}{{ person.town }}{% endblock Town %}
{% block Mail%}{{ person.email }}{% endblock Mail %}

{%  block books %}

<div class ="row">
   <div class="card-columns">
    {% if book_list.count > 0 %}
        {% for book in book_list %}

            <div class="card" style="background: #bdac80; width: 300px; height: 450px;">
            <!-- Изображение -->
            <img class="my-card-img-top" src="{{MEDIA_URL}}{{ book.image }}">
            <!-- Текстовый контент -->

            <div class="card-body">
                <h6 class="card-title">{{ book.title  }}</h6>
                <h6 class="card-title">{{ book.author }}</h6>
                <p class="card-text"><a href="inform/{{ book.id }}" class="btn btn-primary">Подробнее</a></p>
            </div>
            </div><!-- Конец карточки -->

        {% endfor %}
    {%  endif %}
   </div>
</div>

{% endblock books %}
