{% extends "base.html" %}

{% block header%}Регистрация{% endblock header%}

{% block content%}

<div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">

     <form name='registration' method="POST">
          {% csrf_token %}
        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="name">Имя</label>
            <input type="text" class="form-control" required placeholder="Имя" id="name" name="name">
          </div>

          <div class="form-group col-md-6">
            <label>Фамилия</label>
            <input type="text" class="form-control" required placeholder="Фамилия" id="lastname" name="lastname">
          </div>

          <div class="form-group col-md-6">
            <label>Номер телефона</label>
            <input type="tel" class="form-control" required placeholder="Телефон" id="phone" name="phone">
          </div>

          <div class="form-group col-md-6">
            <label>Город</label>
            <input type="text" class="form-control" required placeholder="Город" id="town" name="town">
          </div>

          <div class="form-group col-md-12">
            <label for="exampleInputEmail1">Почта</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required placeholder="Почта" name="mail">
          </div>

          <div class="form-group col-md-12">
            <label for="inputPassword4">Пароль</label>
            <input type="password" class="form-control" id="password" required placeholder="Пароль" name="password">
          </div>

         </div> 
        <input type="submit" name="submit" value="Регистрация" class="btn btn-primary" onclick="handleButtonClick()"/>
      </form>

      </div>
        <div class="col-md-4">
      </div>
</div>
{% endblock content %}